html, body {
    width:100%;
    height:100%;
    font-family: 'Fira Sans';
	    background-color: #fff;
}
.configurator {
    padding:15px 15px;
    margin:0 auto;
    height:calc(100% - 108px);
}
.menu_main {
	    background-color: #fff;
}
.size-16px {
font-size:16px;
}
.size-24px {
font-size: 24px;
}
.size-18px {
    font-size: 18px;
    }
.color-gray {
    color: rgba(121, 121, 121, 0.7);
}
.color-gray2 {
    color:#888888;
}
.frame {
    width:100%;
    display: flex;
    float:left;
    height: 100% !important;
}
.options {
    width:39%;
    height:100%;
    display: flex;
    float:right;
}
.menu-name li{
    list-style: none;
    display: inline;
    cursor: pointer;
    margin-left:10px;
}
.menu-name {
    padding:0px 0px;
    width:100%;
}
.price {
    display:inline-block;
    margin-left:30px;    margin-top: 12px;
}
.float-right {
    float: right;
}
.float-left {
    float: left !important;
margin-top: 8px;
font-size: 16px;
}
.come .active2 {
    background:#e5e5e5 !important;
}
.color-dark {
    color:#242424 !important;
}
.bold {
    font-weight: bold;
}
.size-14px {
    font-size:14px;
}
.item {
    padding:20px 20px !important;
    cursor: pointer;
}
@media(min-width:1200px) {
    .container{
        max-width:1400px;
    }
}
.come {
    margin:0 auto;
}
.square {
    width:42px;
    height:42px;
    cursor: pointer;
    transition: 0.5s;
}
.come .content {
    padding: 20px 0px;
    background-color:#e5e5e5;
}
@media(min-width:768px) and (max-width:1000px) {
    .size-14px {
        font-size:11px;
    }
}
.content .square {
    margin-bottom:15px;
}
.active3 {
    font-weight: normal;
    font-size:28px;
    color: #fff;
}
.form {
    width:50%;
    position: fixed;
    height:100%;
    background-color: rgba(70, 70, 70, 0.9);
    top:0;
    right:0;
}
.button {
    background: url('../img/arrow.svg') center center no-repeat #878787;
border-radius: 6px;
width: 32px;
height: 70px;
display: flex;
position: fixed;
top:calc(50% - 35px);
margin-left:-16px;
cursor: pointer;
}
.btn-order {
    font-size:18px;
    border: 2px solid #808080;
    height:36px;
    line-height: 30px;
    margin:0 auto;
    max-width:280px;
    color: #BABABA;
    text-align: center;
    margin-top:20px;
    cursor: pointer;
}
.btn-order:hover {
    background-color: #000 !important;
    color: #ffffff !important;
    border: 2px solid #000;
}
.form-header {
    font-size:34px;
    color:#fff;
    text-align: center;
    padding:50px 20px;
}
@media(max-width:568px) {
    .menu-name li {
        font-size:14px;
    }
    .menu-name li.active3 {
        font-size:18px;
    }

}
@media(max-width:768px) {
	.configurator {
		padding:0px !important;
	}
    .form {
        width:100%;
    }
    .button {
display: none;
    }
    .btn-back {
        max-width:100px;
        padding:5px 0px;
        display: block !important;
        background: #878787;
        border-radius: 6px;
        position: relative;
        top:20px;
        left:20px;
        text-align: center;
        color:#fff;
        cursor: pointer;
        font-size:14px;
        
    }
    .form-header {
        padding:20px 20px;
    }
    .frame {
        height:calc(100% - 260px) !important;
    }
}
.btn-back {
      display: none;  
}
.form label {
 color: #fff;
}
.btn-yellow {
    background-color:yellow;
}
@media(min-width:768px) and (max-width:1000px) {
    .form form {
        width:80% !important;
    }
}
@media(min-width:1000px){
    .form form {
        width:60% !important;
    }
}
.content {
    padding:20px 15px;
}
.content .row {
    padding: 0px !important;
    margin:0px !important;
}
@media(min-width:768px) {
    .menu_main {
   padding-bottom: 50px;
   padding-top: 66px;
    height:100%;
    position: fixed;
    right: 0px;
    top: 0px;
    overflow: auto;
    }
    .main-block {
        margin:0 auto;
        height:100%;
        padding:50px 0px;
    }
    .main-block-row {
        height:100%;
    }
	.price {
	margin-top:30px !important;
	}
}
.active-square {
    box-shadow: 0px 0px 10px #686868;
    border-radius:10px;
}
@media(min-width:420px) and (max-width:767px) {
	.frame {
		    height: 420px !important;
	}
	.container {
		width: 100% !important;
		max-width:100% !important;
	}
}
@media(min-width:300px) and (max-width:360px) {
    .menu_main {
        position: fixed!important;
        right: 0px !important;
        margin-top: 0px;
        height: 300px !important;
        padding-bottom: 50px;
        overflow-y: scroll;
        bottom: 0;
    }
		.main-block-row {
		height:calc(100% - 300px);
	}
    .frame {
        height:calc(100% - 300px);
    }
}
@media(max-width:568px) {
.menu-name {
height:24px;
}
.price {
margin:0px !important;
}
 	
}
@media(min-width:360px) and (max-width:380px) {
    .menu_main {
        position: fixed!important;
        right: 0px !important;
        margin-top: 0px;
        height: 260px;
        padding-bottom: 50px;
        overflow-y: scroll;
        bottom: 0;
    }
    .frame {
        height:calc(100% - 260px);
    }
}
@media(min-width:380px) and (max-width:420px) {
    .menu_main {
        position: fixed!important;
        right: 0px !important;
        margin-top: 0px;
        height: 260px;
        padding-bottom: 50px;
        overflow-y: scroll;
        bottom: 0;
    }
    .price {
        margin-top:0px;
    }
	.frame {
		height:calc(100% - 260px);
	}
}
iframe {
	border:0px !important;
}
.menu-name {
	margin-top:20px
}
.list-group-item {
    background-color:#fff !important;
    letter-spacing: 1px;
    font-weight: 500;
    color: #242424;
}
.button-styles {
background-color: #fff;
width: 100%;
text-align: center;
line-height: 40px;
font-size: 16px;
color: #242424;
font-weight: 500;
border-radius: 25px;
border: 2px solid #c8c8c8;
letter-spacing: 1px;
}
.button-styles-height {
    background-color: #fff;
width: 60px;
height:42px;
text-align: center;
line-height: 40px;
font-size: 16px;
color: #242424;
font-weight: 500;
border-radius: 25px;
border: 2px solid #242424;
letter-spacing: 1px;
}
.logo {
    font-weight: 500;
    font-size:27px;
    letter-spacing: 1px;
    text-decoration: none !important;
}
.logo-pad {
    padding:20px 0px 30px 0px;
}
.margin-but {
        margin: 30px 0px;
}